:root {
    --text: #FFFFFFF2;
    --bg: #363636;
    --bg-cont: #202020;
    --border: #363636;
    --text-cont: #FFFFFFF2;
}

[data-theme="dark"] {
    --text: #000000F2;
    --bg: #F0F0F0;
    --bg-cont: white;
    --border: #F0F0F0;
    --text-cont: #000000F2;

}
/* 
body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-cont);
    color: var(--text-cont);
    font-family: sans-serif;
} */

/* bajarilgan qism */

.page{
    display: flex;
  
}
/* .saidbar{
    width: 15vw;
    height: 100vh;
    border: 2px solid green;
    position: fixed;
    top: 0;
} */

.for-admins{
    padding-left: 15.1vw;
   

}

.wordAndBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1010px;
    color: var(--text);
}

.forBtn {
    display: flex;
    align-items: center;


}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text);
    background-color: var(--bg-cont);
    border-radius: 10px;
    border: none;
}

.forflag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text);
    background-color: var(--bg-cont);
    border-radius: 10px;
    border: none;
    height: 30px;
}

.hr {
    width: 1575px;
    color: var(--bg);
}

/* boshlang'ich nuqta  search qism va yashil btn   */
.wordAndBtn1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 5vw;
}

.forsearch {
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.search {
    position: absolute;
    margin-left: 50px;
}

.input {
    width: 310px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: var(--bg);
    position: relative;
    font-size: 20px;
    padding-left: 20px;
    
}
/* 
#lupa {
    position: absolute;
    margin-left: 260px;
} */

.greenBtn {
    width: 120px;
    height: 40px;
    background-color: #00D796;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    gap: 20px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 5px;

}

/* jadval qismi uchun yozilgan stil boshi */

.all {
    /* width: 1400px; */
    /* height: 740px; */
    border: 2px solid var(--border);
    align-items: center;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.name-email {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    padding-left: 2rem;
}

.name {
    flex: 1;
}

.email {
    flex: 1;
}

.list-item {
    display: flex;
    align-items: center;
    border-top: 2px solid var(--border);
    /* width: 1400px; */
    justify-content: space-between;
    padding: 0.3rem;
}

.list-item-name {
    flex: 1;
    font-weight: 550;
    padding-left: 2rem;
}

.list-item-email {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}

.final-mark {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    border-top: 2px solid var(--border);
    /* width: 1430px; */
    padding-top: 20px;
    
}
.marks{
      display: flex;
    align-items: center;
    justify-content: end;
     gap: 10px;
     margin-right: 30px;
}

.mark1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 28px;
    border: 2px solid var(--border);
    border-radius: 10px;
    gap: 7px;
}
.mark2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 28px;
    border: 2px solid var(--border);
    border-radius: 10px;
    gap: 7px;
}
.mark3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 28px;
    border: 2px solid var(--border);
    border-radius: 10px;
    gap: 7px;
}



/* #chevronIcon {
    width: 20px;
    height: 15px;
} */