/* --- Sidebar (landing-like) --- */
.admin-sidebar {
  width: 15vw;
  height: 100vh;
  background: var(--bg-body);
  padding: 0.75rem;
  position: fixed;
}

.admin-sidebar .card {
  background: var(--sidebar-card);
  /* border: 1px solid var(--border); */
  border-radius: 1rem;
}

.admin-sidebar .brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.admin-sidebar .brand img{
    width: 2rem;
}

.admin-sidebar .nav-link {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text);
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.admin-sidebar .nav-link.active {
  background: var(--bg-active);
}
